/* 
    must give --card-height and --card-width
    usually aspect ratio is 3/2
*/

/* import fonts */
@font-face {
    /* for joker */
    font-family: 'joker';
    src: url('./fonts/font_zanf5jk7tv/iconfont.ttf?t=1717531063653') format('truetype');
}
@font-face {
    /* for ranks and card texts */
    font-family: 'Roboto Mono';
    src: url('./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans SC';
    src: url('./fonts/Noto_Sans_SC/NotoSansSC-VariableFont_wght.ttf') format('truetype');
}
@font-face{
    font-family: 'suit';
    src: url('./fonts/bidding.d7bbc18fb3a50f3f.ttf') format('truetype');
}

/* colors */
:root {
    --s-color: #006;
    --h-color: #a00;
    --d-color: #c30;
    --c-color: #222;
    --w-color: #c03;
    --v-color: #525;
}

.hand {
    height: var(--card-height);
    overflow-y: visible;
    display: flex;
}

.card-container {
    /* card-container determines the position of cards */
    height: var(--card-height);
    width: calc(var(--card-width) / 3);
    transition: all 0.1s;
    overflow: hidden;
    user-select: none;
}
.card-container[card-show^="show"]:not(:has(~ .card-container[card-show^="show"])) {
    /* last child has the full card width */
    width: var(--card-width);
    flex-shrink: 0;
}
.card-container:hover {
    flex-shrink: 0;
}
/* set colors for different suits */
.card-container[suit="s"] {
    color: var(--s-color);
}
.card-container[suit="h"] {
    color: var(--h-color);
}
.card-container[suit="d"] {
    color: var(--d-color);
}
.card-container[suit="c"] {
    color: var(--c-color);
}
.card-container[rank="W"] {
    color: var(--w-color);
}
.card-container[rank="V"] {
    color: var(--v-color);
}
/* special font for jokers */
.card-container[suit="w"] .card-suit {
    font-family: "joker";
    font-size: calc(var(--card-width) / 4);
    transform: translateY(-0.7vh);
}
.card-container[suit="w"] .card-face {
    font-family: "joker";
    font-size: calc(var(--card-height) / 2);
    transform: translateY(calc(var(--card-height) / 9 * (-1)));
}
.card-container[suit="w"] span.joker::after {
    content: '\e612';
}
/* special styles for tens */
.card-container[rank="X"] .card-rank {
    /* font-family: "Roboto"; */
    letter-spacing: -0.1em;
    transform: scaleX(0.7) translateX(-0.1em);
}
/* styles for different show modes */
.card-container[card-show='show-selected'] .card {
    background-color: green;
}
.card-container[card-show='show-played'] .card {
    background-color: #aaa;
}
.card-container[card-show='show-played'] .card div {
    opacity: 0.5;
}
.card-container[card-show='show-ondesk'] .card {
    background-color: aqua;
}
.card-container[card-show='show-revoked'] .card {
    background-color: #525;
    color: #d66;
}
.card-container[card-show='folded'] {
    width: 0;
    opacity: 0;
}
.card-container[card-show='folded-dipai'] {
    width: 0;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    border: 1px solid black;
    border-radius: calc(var(--card-width) / 20);
    box-sizing: border-box;
    background-color: #f8f8f8;
    position: relative;
    box-shadow: 0 0 0.3vh #eee;
    transition: all 0.2s;
}
.card:hover {
    background-color: #fff;
    /* transform: scale(1.01); */
    box-shadow: 0 0 1.2vh #888;
}

.card-rank,
.card-suit {
    width: calc(var(--card-width) / 3);
    /* padding-left: 0; */
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: calc(var(--card-width) / 3);
    font-weight: 400;
    font-style: normal;
}
.card-suit {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'suit';
    transform: translateY(-1vh) translateX(0vh);
}
.card-container[suit="w"] .card-suit {
    transform: translateY(-0.2vh);
}
.card-face {
    font-size: var(--card-width);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'suit';
    font-weight: 400;
    font-style: normal;
    position: absolute;
    right: calc(var(--card-width) * 0.06);
    bottom: calc(var(--card-height) / 9 * (-1));
}