/* reset styles */
* {
    margin: 0;
}

/* clear float */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* define key heights and widths */
:root {
    --container-width: 177vh;
    --card-height: 18vh;
    --card-width: 12vh;
}

/* container: 100vh by 177vh (9 : 16) if aspect ratio < 9/16 */
body {
    height: 100vh;
}
.container {
    height: 100vh;
    width: var(--container-width);
    margin: 0 auto;
    padding: 1vh;
    box-sizing: border-box;
    background-color: aquamarine;
}

/* the top row */
.nscontainer {
    height: var(--card-height);
    width: calc(var(--container-width) - 2vh);
    background-color: skyblue;
    display: flex;    
    justify-content: space-between;
}
.corner {
    height: var(--card-height);
    width: 32.5vh;
    background-color: orange;
}
.nshand {
    height: var(--card-height);
    width: calc(9 * var(--card-width));
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.middle-container {
    height: calc(3 * var(--card-height));
    width: 175vh;
    /* background-color: skyblue; */
    margin: 1vh 0;
    display: flex;
    justify-content: space-between;
}

.ewhand {
    height: calc(3 * var(--card-height));
    width: calc(4 * var(--card-width));
    background-color: greenyellow;
}
.ewhand .hand {
    height: calc(0.5 * var(--card-height));
}
.ewhand .hand:last-child {
    height: var(--card-height);
}
#whand .hand {
    justify-content: end;
}

.desk {
    height: calc(3 * var(--card-height));
    width: 77vh;
    overflow: hidden;
}
.table-record-container {
    height: 0;
    background-color: #eee;
    transition: all 0.2s;
    overflow: scroll;
}
.table-record-container[area-show="show"] {
    height: calc(3 * var(--card-height)); 
    /* height: calc(3 * var(--card-height));  real one*/
    padding-top: 2vh;
    padding-bottom: 2vh;
    box-sizing: border-box;
}
#table-record {
    width: 71vh;
    border: 1px solid #333;
    background-color: #fff;
    margin: 0 auto;
    font-size: 2.5vh;
    font-family: 'Roboto Mono', monospace;
}
#table-record tbody tr:nth-child(odd) {
    background-color: #eee;
}
#table-record tbody td {
    text-align: center;
}
#table-record td.td-lead {
    background-color: #ffd;
}
#table-record tr:nth-child(odd) td.td-lead {
    background-color: #eec;
}

.footer {
    height: 6vh;
    margin-top: 1vh;
    background-color: gray;
    display: flex;
    justify-content: space-between;
}
menu {
    list-style: none;
    display: flex;
    cursor: default;
}
.menubar {
    height: 6vh;
    padding-left: 0;
}
.menubar li {
    height: 6vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin: auto 0;
    font-size: 2vh;
    color: #eee;
    border-right: solid 1px #ccc;
    line-height: 6vh;
    display: flex;
}
/* .menubar li:first-child {
    margin-left: 0;
} */
.menubar li .key {
    height: 1.5vh;
    width: 1.5vh;
    font-size: 1.5vh;
    font-family: 'Courier New', Courier, monospace;
    color: #eee;
    border: solid 1px #eee;
    border-radius: 0.3vh;
    margin: auto 0.5vh;
    margin-left: 0;
    text-align: center;
    line-height: 1.5vh;
}
.menubar li[show='unfolded'] {
    background-color: #eee;
    color: #666;
}
.menubar li[show='unfolded'] .key {
    color: #666;
    border-color: #666;
}
.toolbar {
    margin: auto;
}
.toolbar li {
    font-size: 3vh;
    color: #eee;
    margin: auto 2vh;
}
#statusbar {
    height: 6vh;
    width: 40vh;
    padding: 0.2vh 0.5vh;
    border-left: 1pt solid #eee;
    font-size: 2vh;
    color: #eee;
    line-height: 3vh;
}

.comment {
    width: 177vh;
    height: 100vh;
    background-color: aqua;
    opacity: 0.5;
    position: fixed;
    right: calc(50vw - 88.5vh);
    bottom: -100vh;
    transition: all 0.2s;
}
.comment[area-show="show"] {
    transform: translateY(-100vh);
}



#file-text {
    /* height: 50vh; */
    overflow: scroll;
}