/* import fonts */

@font-face {
    /* for score */
    font-family: 'Chivo Mono';
    src: url('./fonts/Chivo_Mono/ChivoMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    /* for score */
    font-family: 'JetBrains Mono';
    src: url('./fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    /* for score */
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans SC';
    src: url('./fonts/Noto_Sans_SC/NotoSansSC-VariableFont_wght.ttf') format('truetype');
}


/* reset styles */
* {
    margin: 0;
    user-select: none;
}

/* clear float */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* define key heights, widths and colors */
:root {
    --container-width: 177vh;
    --card-height: 18vh;
    --card-width: 12vh;
}

/* container: 100vh by 177vh (9 : 16) if aspect ratio < 9/16 */
body {
    height: 100vh;
    overflow: hidden;
}
.container {
    height: 100vh;
    width: var(--container-width);
    margin: 0 auto;
    padding: 1vh;
    box-sizing: border-box;
    background-color: antiquewhite;
}

/* the top row */
.nscontainer {
    height: var(--card-height);
    width: calc(var(--container-width) - 2vh);
    /* background-color: skyblue; */
    display: flex;    
    justify-content: space-between;
}
.corner {
    height: var(--card-height);
    width: 32.5vh;
    /* background-color: orange; */
}
.input-container {
    background-color: #f2e3c9;
    font-family: "Roboto Mono", "Noto Sans SC";
    font-size: 2.5vh;
}
.nshand {
    height: var(--card-height);
    width: calc(9 * var(--card-width));
    justify-content: center;
    overflow: hidden;
}

.middle-container {
    height: calc(3 * var(--card-height));
    width: 175vh;
    margin: 1vh 0;
    display: flex;
    justify-content: space-between;
}

.ewhand {
    height: calc(3 * var(--card-height));
    width: calc(4 * var(--card-width));
    overflow: hidden;
}
.ewhand .hand {
    height: calc(0.5 * var(--card-height));
}
.hand:not(:has(~ .hand)) {
    height: var(--card-height);
}
#whand .hand {
    justify-content: end;
}
#ehand .hand {
    justify-content: start;
}

.namebar {
    height: 3.5vh;
    background-color: #d3d3d3;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0 0 calc(var(--card-height) / 20) calc(var(--card-height) / 20);
    box-sizing: border-box;
    display: flex;
    overflow-y: hidden;
    font-size: 2.5vh;
    transform: translateY(-3.5vh);
    opacity: 1;
    transition: all 0.3s;
}
.namebar[show="hide"] {
    transform: translateY(0);
    opacity: 0;
}
.namebar[status="on-play"] {
    background-color: #ffce00;
    transition: all 1s;
}
.namebar[status="played"] {
    background-color: #ffce00;
}
.namebar .game-position-area {
    height: inherit;
    width: calc(var(--card-height) / 4);
    margin-right: 1vh;
    line-height: calc(var(--card-height) / 5);
    text-align: center;
    background-color: #004c4c;
    font-family: "Noto Sans SC";
    color: white;
}
.namebar .name-area {
    height: calc(var(--card-height) / 5);
    line-height: calc(var(--card-height) / 5);
    font-family: "Roboto Mono", "Noto Sans SC";
    text-align: left;
}

.desk {
    height: calc(3 * var(--card-height));
    width: 77vh;
    overflow: hidden;
}
.input-container {
    margin-bottom: 1vh;
}
.table-record-container {
    height: 0;
    background-color: #eee;
    transition: all 0.2s;
    overflow: scroll;
}
.table-record-container[area-show="show"] {
    height: calc(3 * var(--card-height)); 
    /* height: calc(3 * var(--card-height));  real one*/
    padding-top: 2vh;
    padding-bottom: 2vh;
    box-sizing: border-box;
}
#table-record {
    width: 71vh;
    border: 1px solid #333;
    background-color: #fff;
    margin: 0 auto;
    font-size: 2.5vh;
    font-family: 'Roboto Mono', monospace;
    table-layout: fixed;
}
#table-record th {
    font-family: "Noto Sans SC";
}
.dipai-div-in-table {
    width: 71vh;
    border: 1px solid #333;
    border-bottom: 0px;
    box-sizing: border-box;
    background-color: #eee;
    margin: 0 auto;
    padding: 0.2vh;
    font-size: 2.5vh;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    table-layout: fixed;
}
#table-record tbody tr:nth-child(odd) {
    background-color: #eee;
}
#table-record tbody td {
    text-align: center;
}
#table-record tbody td:first-child, 
#table-record th:first-child {
    width: 5vh;
}
#table-record td.td-lead {
    background-color: #ffd;
}
#table-record tr:nth-child(odd) td.td-lead {
    background-color: #eec;
}
#table-record td[highlight='current'],
.dipai-div-in-table[highlight='current'] {
    background-color: #33c !important;
    color: #eee;
}

.footer {
    height: 6vh;
    margin-top: 1vh;
    background-color: gray;
    display: flex;
    justify-content: space-between;
}
menu {
    list-style: none;
    display: flex;
    cursor: default;
}
.menubar {
    height: 6vh;
    padding-left: 0;
}
.menubar li {
    height: 6vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin: auto 0;
    font-size: 2vh;
    color: #eee;
    border-right: solid 1px #ccc;
    line-height: 6vh;
    display: flex;
}
/* .menubar li:first-child {
    margin-left: 0;
} */
.menubar li .key {
    height: 1.5vh;
    width: 1.5vh;
    font-size: 1.5vh;
    font-family: 'Courier New', Courier, monospace;
    color: #eee;
    border: solid 1px #eee;
    border-radius: 0.3vh;
    margin: auto 0.5vh;
    margin-left: 0;
    text-align: center;
    line-height: 1.5vh;
}
.menubar li[show='unfolded'] {
    background-color: #eee;
    color: #666;
}
.menubar li[show='unfolded'] .key {
    color: #666;
    border-color: #666;
}
.toolbar {
    margin: auto;
}
.toolbar li {
    font-size: 3vh;
    color: #eee;
    margin: auto 2vh;
}
#statusbar {
    height: 6vh;
    width: 40vh;
    padding: 0.2vh 0.5vh;
    border-left: 1pt solid #eee;
    font-size: 2vh;
    color: #eee;
    line-height: 3vh;
}

.comment {
    width: 177vh;
    height: 100vh;
    background-color: aqua;
    opacity: 0.5;
    position: fixed;
    right: calc(50vw - 88.5vh);
    bottom: -100vh;
    transition: all 0.2s;
}
.comment[area-show="show"] {
    transform: translateY(-100vh);
}

[class|="suit"] {
    font-family: 'suit';
}


#file-text {
    /* height: 50vh; */
    overflow: scroll;
}