/* reset styles */
* {
    margin: 0;
    user-select: none;
}

/* clear float */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* define key heights and widths */
:root {
    --container-width: 177vh;
    --card-height: 18vh;
    --card-width: 12vh;
}

/* styles of #corner-lt, denomination area */
#corner-lt {
    display: flex;
    /* background-color: #666; */
}
#div-seats {
    width: 15vh;
    height: 15vh;
    box-sizing: border-box;
    border: 3vh solid #f8f8f8;
    border-radius: var(--radius);
    outline: 1px solid black;
    margin: auto 1vh;
    overflow: visible;
}
#div-seats .div-zhuang-mark {
    width: 9vh;
    height: 3vh;
    font-size: 2vh;
    font-family: "Noto Sans SC";
    font-weight: bold;
    color: #f8f8f8;
    position: relative;
    text-align: center;
    line-height: 3vh;
}
#div-seats[zhuang="undetermined"] {
    border-color: #f8f8f8;
}
#div-seats[zhuang="undetermined"] .div-zhuang-mark {
    opacity: 0;
}
#div-seats[zhuang="observed"] {
    border-top-color: var(--v-color);
    border-bottom-color: var(--w-color);
    border-left-color: #f8f8f8;
    border-right-color: #f8f8f8;
}
#div-seats[zhuang="next"] {
    border-left-color: var(--v-color);
    border-right-color: var(--w-color);
    border-top-color: #f8f8f8;
    border-bottom-color: #f8f8f8;
}
#div-seats[zhuang="next"] .div-zhuang-mark {
    width: 3vh;
    height: 9vh;
    line-height: 9vh;
    top: -9vh;
    left: 9vh;
}
#div-seats[zhuang="previous"] {
    border-right-color: var(--v-color);
    border-left-color: var(--w-color);
    border-top-color: #f8f8f8;
    border-bottom-color: #f8f8f8;
}
#div-seats[zhuang="previous"] .div-zhuang-mark {
    width: 3vh;
    height: 9vh;
    line-height: 9vh;
    top: -9vh;
    left: -3vh;
}
#div-seats[zhuang="opposite"] {
    border-bottom-color: var(--v-color);
    border-top-color: var(--w-color);
    border-left-color: #f8f8f8;
    border-right-color: #f8f8f8;
}
#div-seats[zhuang="opposite"] .div-zhuang-mark {
    top: -12vh;
    left: 0vh;
}
#div-table-number {
    width: 9vh;
    height: 9vh;
    box-sizing: border-box;
    outline: 1px solid black;
    margin: auto;
    font-family: "Roboto";
    font-size: 6vh;
    text-align: center;
    line-height: 9vh;
}
#div-denomination-area {
    outline: 1px solid black;
    background-color: #f8f8f8;
    width: 14.5vh;
    height: 15vh;
    box-sizing: border-box;
    border-radius: var(--radius);
    margin: auto 1vh;
    margin-left: 0;
}
#div-denomination-area[strain="w"] {
    color: var(--w-color);
}
#div-denomination-area[strain="v"] {
    color: var(--v-color);
}
#div-denomination-area[strain="s"] {
    color: var(--s-color);
}
#div-denomination-area[strain="h"] {
    color: var(--h-color);
}
#div-denomination-area[strain="d"] {
    color: var(--d-color);
}
#div-denomination-area[strain="c"] {
    color: var(--c-color);
}
#div-denomination {
    height: 10vh;
    font-size: 6vh;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    display: flex;
}
#div-denomination-level {
    height: 10vh;
    width: 5vh;
    /* margin: auto 0.3vh; */
    text-align: right;
}
#div-denomination-strain {
    height: 10vh;
    width: 8.5vh;
    margin-right: 0.3vh;
    display: flex;
    justify-content: start;
    /* text-align: left; */
    /* font-family: 'Noto Sans SC'; */
}
.suit-denomination {
    width: 6vh;
    height: 10vh;
    line-height: 8vh;
    font-family: 'suit';
    text-shadow: -0.03em 0 #f8f8f8;
}
.div-denomination-nts-text {
    font-family: "Noto Sans SC";
    width: 17vh;
    font-size: 5vh;
    letter-spacing: 0;
    text-wrap: nowrap;
    transform: scaleX(0.8);
}
#div-declaration {
    height: 5vh;
    font-size: 2.5vh;
    text-align: center;
    line-height: 4vh;
}

/* styles of #corner-rt, score area */

.blocks-rt {
    height: var(--card-height);
    box-sizing: border-box;
    font-family: 'Roboto';
}
#div-score-area {
    display: flex;
    overflow: visible;
    /* font-family: 'JetBrains Mono', monospace; */
    font-size: 3vh;
    /* background-color: darkkhaki; */
}
#div-score-container {
    width: 18vh;
    height: 15vh;
    box-sizing: border-box;
    border: 3vh solid #f8f8f8;
    border-radius: 1.5vh;
    font-size: 6vh;
    outline: 1px solid black;
    margin: auto 1vh;
    text-align: center;
    transition: all 0.3s;
}
#div-score {
    width: 12vh;
    height: 9vh;
    line-height: 9vh;
    outline: 1px solid black;
    /* letter-spacing: -0.3vh; */
}
#div-penalty-and-dipai {
    width: 10vh;
    height: 15vh;
    margin: auto;
    text-align: left;
    font-size: 3vh;
}
#div-penalty,
#div-dipai-score {
    height: 6vh;
    margin: 1vh;
    line-height: 6vh;
}
#div-penalty[sign="-"] {
    color: #ce0000;
}
#div-penalty[sign="+"] {
    color: #00a000;
}
#div-dipai-score {
    margin-top: 0;
    color: #0000ce;
}

/* styles for the lb block */

#corner-lb {
    /* background-color: aquamarine; */
    font-size: 2vh;
}